* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #efefef;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, sans-serif;
}
.phone-box {
    width: 360px;
    height: 720px;
    border: 12px solid #222222;
    border-radius: 48px;
    position: relative;
    overflow: hidden;
    background: url("../image/background.png") no-repeat center center;
    background-size: cover;
    background-position: center;
}
.island {
    width: 130px;
    height: 32px;
    background: #000;
    border-radius: 20px;
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    z-index:99;
}
.splash-wrap{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding: 140px 30px 100px;
}
.slogan-wrap{
    width: 100%;
    margin-bottom: auto;
}
.slogan-text{
    font-size: 28px;
    color: #000;
    line-height: 2.2;
    letter-spacing: 2px; /* 增加文字字间距 */
}
.slogan-text.left {
    text-align: left;
    padding-left: 5px;
}
.slogan-text.right {
    text-align: right;
    padding-right: 5px;
}
.footer-logo{
    display: flex;
    align-items: center;
    gap:10px;
    margin-top: 145px;
}
.logo-img{
    width:90px;
    height:90px;
    object-fit: contain;
    transform: translateY(6px); /* logo 图片单独下移 */
}
.name-text{
    font-size:36px;
    color:#24573F;
    letter-spacing: 3px;
}